
:root {
  --body-bcg-lt: #eaf7f7;
  --body-bcg-dk: #27353f;
  --form-bcg-dk: #8ebbdb;
  --toggle-btn-lt: #d7f2f2;
  --toggle-btn-color-lt: #006d77;
  --toggle-btn-color-hvr-lt: #004f54;
  --toggle-btn-bcg-hvr-lt: #94dada;
  --signUp-btn-color-lt: #83c5be;
}

/* 
=====================================
- Start light Mode
=====================================
*/

[data-bs-theme="light"] body {
  background-color: var(--body-bcg-lt);
}

[data-bs-theme="light"] .toggle-btn {
  background-color: var(--toggle-btn-lt);
  color: var(--toggle-btn-color-lt);
}

[data-bs-theme="light"] .toggle-btn:hover {
  background-color: var(--toggle-btn-bcg-hvr-lt);
  color: var(--toggle-btn-color-hvr-lt);
}

[data-bs-theme="light"] h2 {
  color: var(--toggle-btn-color-lt);
}

[data-bs-theme="light"] #signInBtn {
  background-color: var(--toggle-btn-color-lt);
}

[data-bs-theme="light"] #signUpBtn {
  background-color: var(--signUp-btn-color-lt);
}

[data-bs-theme="light"] #signUpEmailValidateMsg::after {
  border-left: 10px var(--toggle-btn-color-lt) solid;
}

/* 
=====================================
- End light Mode
=====================================
*/

/* 
=====================================
- Start Dark Mode
=====================================
*/

[data-bs-theme="dark"] body {
  background-color: var(--body-bcg-dk);
}

[data-bs-theme="dark"] .form-wrapper {
  background-color: var(--body-bcg-dk) !important;
}

[data-bs-theme="dark"] .toggle-btn {
  background-color: var(--toggle-btn-bcg-hvr-lt);
  color: var(--toggle-btn-color-hvr-lt);
}

[data-bs-theme="dark"] .toggle-btn:hover {
  background-color: var(--toggle-btn-lt);
  color: var(--toggle-btn-color-lt);
}

[data-bs-theme="dark"] h2 {
  color: white;
}

[data-bs-theme="dark"] #signInBtn {
  background-color: var(--toggle-btn-color-lt);
}

[data-bs-theme="dark"] #signUpBtn {
  background-color: var(--toggle-btn-color-lt);
}

[data-bs-theme="dark"] #signUpEmailValidateMsg::after {
  border-left: 10px var(--toggle-btn-color-lt) solid;
}

@font-face {
  font-family: "poppins";
  src: url(../css/fonts/Poppins-Regular.ttf);
}
body {
  font-family: "Poppins";
  height: 100vh;
}

.form-wrapper {
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
}

.toggle-btn {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease,scale 0.3s ease;
  font-weight: bold;
}

.toggle-btn:hover {
  scale: 1.1;
}

input[type="radio"] {
  display: none;
}

h2 {
  color: var(--toggle-btn-color-lt);
  font-weight: 600;
}

label {
  user-select: none;
}

#signInBtn {
  background-color: var(--toggle-btn-color-lt);
}

#signUpBtn {
  background-color: #83c5be;
}

#signInBtn:hover,
#signUpBtn:hover {
  opacity: 0.9;
}

#signUpEmailValidateMsg {
  top: 50%;
  transform: translateY(-50%);
  right: 101%;
  width: 45%;
  margin-right: 15px;
}

#signUpEmailValidateMsg::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 5px;
  border-top: 10px transparent solid;
  border-bottom: 10px transparent solid;
  border-left: 10px var(--toggle-btn-color-lt) solid;
  border-right: 10px transparent solid;
}

#toSignUp{
  direction: rtl;
}
/* 
==========================================
*/

/* Toggle Container */
.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Toggle Button */
.toggle {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Icons */
.icon {
  font-size: 18px;
  transition: opacity 0.3s, transform 0.3s;
}

/* Default: Show Sun and Hide Moon */
.sun {
  opacity: 1;
  transform: translateX(0);
}

.moon {
  opacity: 0;
  transform: translateX(20px);
}

/* Dark Mode: Show Moon and Hide Sun */
body.dark-mode .sun {
  opacity: 0;
  transform: translateX(-20px);
  
}

body.dark-mode .moon {
  opacity: 1;
  transform: translateX(0);
}

/* 
==================================
*/

#loading-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  animation: fideOut 1s linear;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fideOut {
  0% {
    background-color: rgba(0, 0, 0, 1);
    display: block;
  }
  25% {
    background-color: rgba(0, 0, 0, 1);
  }
  50% {
    background-color: rgba(0, 0, 0, 1);
  }
  75% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    display: none;
  }
}
